.header{
    background-color: cornflowerblue;
    color: white;
    height: 125px;
    line-height: 125px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

    
}
.mainbody{
    background-color: whitesmoke;

}
.special{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350px;
    font-variant: small-caps;
    color: black;
    background-color: cornflowerblue;
}
.list{
    width: 25%;
    border:2px solid;
    border-color: cornflowerblue;
    margin-top: 25px;
    margin-left: 0;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
img{
    display:block;
    margin-left: 0;
    margin-right: auto;
    width: 45%;

}
#YouTube{
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: cornflowerblue;
    color: white;
    height: 25px;
    line-height: 25px;
    position: fixed;
    bottom: 0px;
    right:0px;
    left:0px;

}
